body{
	margin:0px;
	padding:0px;
	font-size:15px;
	background:#EBEBEB;
	font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
}
.navbar,
.navbar-inverse{
	margin-bottom:0px;
	height:50px;
	border:none;
	background: rgba(0, 53, 102,1);
}

.navbar{
	border-radius:0px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
{
	background-color: rgba(51, 93, 133,1);

}


/*footer{
	background:#424242;
	clear:both;
	height:100px;
	width:100%;
}
*/
